@font-face {
    font-family: "Assistant Regular";
    src: url("../fonts/assistant/Assistant-Regular.otf");
}

html,
body {
    margin: 0;
    border: none;
    padding: 0;
    background: #fff;
    font-family: "Assistant Regular";
    line-height: 1.3em;
}

img {
    max-width: 100%;
}

header a {
    text-decoration: none;
    color: #000;
}

header {
    display: flex;
    margin: 1rem 1rem 0 1rem;
}

header h1 {
    margin: 0;
}
header nav {
    flex-grow: 1;
    align-self: end;
}

header nav a {
    color: gray;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: right;
}

nav li {
    display: inline-block;
    margin: 0 1rem;
}

main {
    margin: 5rem auto;
    width: 60%;
}

@media screen and (max-width: 800px) {
    header {
        display: block;
    }
    header h1 {
        margin-bottom: 1rem;
    }
    header ul {
        flex-wrap: wrap;
    }
    main {
        width: auto;
        margin-top: 2rem;
        margin-left: 20px;
        margin-right: 20px;
    }
}
