<!DOCTYPE html>
<html lang="{{ site.human_language | default: "en-US" }}">
{% include head.html %}
<body>
    <header>
        <h1><a href="{{ "/" | relative_url }}" title="{{ site.title }} homepage.">{{ site.title }}</a></h1>
        <nav>
            <ul>
                <li><a href="{{ "/about/" | relative_url }}" title="About {{ site.title }}.">About</a></li>
                <li><a href="{{ "/residency/" | relative_url }}" title="Learn more about our Residency program.">Residency</a></li>
                <li><a href="{{ "/visit/" | relative_url }}" title="Host a gallery.">Visit</a></li>
                <li><a href="{{ "/host/" | relative_url }}" title="Host a gallery.">Host</a></li>
                <li><a href="{{ "/faq/" | relative_url }}" title="Frequently Asked Questions (and our answers)">FAQ</a></li>
                <li><a href="{{ "/contact/" | relative_url }}" title="Contact us.">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main id="MainContent">
        {{ content }}
    </main>
    <footer>
    </footer>
</body>
</html>
